.folder{
  width: 100%;
  cursor: pointer;
}

.folder-name{
  width: 100%;
  color: white;
  border-bottom: 1pt grey solid;
}

.folder-content{
  padding-left: 16px;
}

.folder.folder-loading{
  cursor:progress;
  color: grey;
}