.bg-mate{
  background: rgba(0, 0, 0, 0.69);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(0, 0, 0, 0.41);
}
.navbar{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}